@use '../globals/themes' as *;

.detail{
    font-size: 16px;
    min-height: 100vh;

    @include themed(){
        background-color: t("bg");
    }

    &-image{
        height: auto;
        width: 530px;
    }

    &-padding{
        padding-top: 75px;        
    }

    &-back{
        height: 40px;
        width: 130px;
        text-decoration: none;

        margin-bottom: 75px;

        align-items: center;

        @include themed(){
            color: t("text");
            background-color: t("elements");
        }

        span{
            padding-right: 4px;
        }
    }

    &-text{
        @include themed(){
            color: t("text");
        }

        &-first{
            padding-right: 5vw;
        }

        &-title{
            font-size: 32px;
            font-weight: 600;

            padding-bottom: 30px;
        }

        &-category{
            font-size: 14px;
            padding-bottom: 15px;
            
            span{
                font-weight: 600;
            }
        }

    }

    &-border{
        padding-top: 32px;

        @include themed(){
            // background-color: t("bg");
        }

        &-text{
            font-size: 14px;

            &-main{
                font-size: 14px;
                font-weight: 600;
            }

            &-none{
                padding-left: 2px;
            }
        }

        &-countries{
            max-width: 20vw;
            flex-wrap: wrap;
            
            a{
                border-radius: 5px;
                padding: 10px;

                @include themed(){
                    color: t("text");
                    background-color: t("elements");
                }

                font-size: 12px;
                margin-left: 8px;

                text-decoration: none;

                transition: all 150ms ease-in-out;

                &:hover{
                    @include themed(){
                        background-color: t("hover");
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .breakpoint{
        flex-direction: column;
    }

    .detail{
        &-text{    
            padding-left: 5vw;

            &-first{
                padding-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 809px){
    .detail{
        &-mobile{
            flex-direction: column;
            align-items: start;
        }
        
        &-padding{
            padding-top: 40px;
        }
        
        &-back{
            margin-bottom: 60px;
        }

        &-image{
            height: 30vh;
            width: auto !important;
            margin-bottom: 40px;

            &-mobile{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        &-text{
            padding-left: 0;

            &-title{
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 809px){
    .detail{
        &-border{
            &-countries{
                max-width: calc(100vw - 35px);
            }
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 809px){
    .detail{
        &-image{
            width: calc(100vw - 160px);   
        }
    }
}

@media screen and (max-width: 639px){
    .detail{
        &-image{
            width: calc(100vw - 35px);   
        }
    }
}
