@use '../globals/themes' as *;

.detail{
    font-size: 16px;
    min-height: 100vh;

    @include themed(){
        background-color: t("bg");
    }

    &-image{
        height: auto;
        width: 530px;
    }

    &-padding{
        padding-top: 75px;        
    }

    &-back{
        height: 40px;
        width: 130px;
        text-decoration: none;

        margin-bottom: 75px;

        align-items: center;

        @include themed(){
            color: t("text");
            background-color: t("elements");
        }
    }
}