@use '../globals/themes' as *;

.detail{
    font-size: 16px;
    min-height: 100vh;

    @include themed(){
        background-color: t("bg");
    }

    &-image{
        height: auto;
        width: 530px;
    }

    &-padding{
        padding-top: 75px;        
    }

    &-back{
        height: 40px;
        width: 130px;
        text-decoration: none;

        margin-bottom: 75px;

        align-items: center;

        @include themed(){
            color: t("text");
            background-color: t("elements");
        }

        span{
            padding-right: 4px;
        }
    }

    &-text{
        min-width: 530px;

        @include themed(){
            color: t("text");
        }

        &-title{
            font-size: 32px;
            font-weight: 600;

            padding-bottom: 30px;
        }

        &-category{
            font-size: 14px;
            padding-bottom: 15px;
            
            span{
                font-weight: 600;
            }
        }
    }
}