@use '../globals/themes' as *;

.header{
    header{
        height: 80px;
        width: 100vw;

        @include themed(){
            background-color: t("elements");
            color: t("text");
        }

        button{
            border: none;
            background-color: transparent;
            font-size: 1em;

            @include themed(){
                color: t("text");
            }
        }
    }

    &-logo{
        font-weight: 600;
        font-size: 22px;
    }
}

@media screen and (max-width: 639px){
    .header{
        header{
            height: 80px;
            width: 100vw;
        }

        &-logo{
            font-size: 16px;
        }
    }
}
