@use '../globals/themes' as *;

.home{
    font-size: 14px;
    min-height: 100vh;

    @include themed(){
        background-color: t("bg");
    }

    &-options{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    &-search{
        height: 50px;
        min-width: 340px;
        width: 455px;
        padding-left: 50px;
        margin-left: -14px;
        border: none;
        border-radius: 5px;
        
        @include themed(){
            background-color: t("elements");
            color: t("text");
        }

        &-svg{
            position: relative;
            left: 20px;

            @include themed(){
                fill: t("text");
            }
        }

        &:focus{
            outline: none;
        }

        &::placeholder{
            opacity: 1;
        }
    }

    select{
        height: 50px;
        width: 190px;
        padding: 0 20px 0 20px;
        border: none;
        border-radius: 5px;

        @include themed(){
            background-color: t("elements");
            color: t("text");
        }

        option{
            border-radius: 5px;

            @include themed(){
                background-color: t("elements");
                color: t("text");
            }
        }
    }
}

.country{
    flex-wrap: wrap;

    margin-right: -70px;

    &-block{
        display: block;
        height: 320px;
        width: 250px;
        margin-right: 70px;
        margin-bottom: 70px;
        text-decoration: none;

        border-radius: 5px;

        @include themed(){
            background-color: t("elements");
        }

    }

    &-text{
        padding: 25px;

        &-title{
            font-weight: 600;
            font-size: 1rem;
            padding-bottom: 10px;
        }

        &-description{
            font-size: 0.8rem;
            
            span{
                font-weight: 600;
            }
            
            p{
                padding-bottom: 5px;
    
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
        
        @include themed(){
            color: t("text");
        }
    }

    &-image{
        height: 150px;
        width: 250px;
        border-radius: 5px 5px 0 0;
    }
}

@media screen and (max-width: 609px){
    .mobile{
        flex-direction: column;

        &-search{
            margin-bottom: 40px;
        }
    }

    .country{
        justify-content: center;

        &-block{
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 809px){
    .mobile{
        flex-direction: column;

        &-search{
            margin-bottom: 40px;
        }
    }
}