:root{
    --White: hsl(0, 0%, 100%);

    // Dark mode
    --db-d: hsl(209, 23%, 22%);
    --bg-d: hsl(207, 26%, 17%);

    // Light mode
    --vdb-l: hsl(200, 15%, 8%);
    --dg-l: hsl(0, 0%, 52%);
    --bg-l: hsl(0, 0%, 98%);
}