@use 'typography' as *;
@use 'themes';

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    min-height: 100vh;
    min-width: 100vw;
}

.flex{
    display: flex;

    &-justcont-c{
        justify-content: center;
    }

    &-justcont-sb{
        justify-content: space-between;
    }

    &-alignit-c{
        align-items: center;
    }

    &-dir-col{
        flex-direction: column;
    }

    &-dir-col-rev{
        flex-direction: column-reverse;
    }
}

.padding{
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 375px){

}

@media screen and (max-width: 639px){
    .padding{
        padding-left: 17.5px;
        padding-right: 17.5px;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px){
    
}

@media screen and (min-width: 1025px){
    
}
