@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  min-height: 100vh;
  min-width: 100vw;
}

.flex {
  display: flex;
}
.flex-justcont-c {
  justify-content: center;
}
.flex-justcont-sb {
  justify-content: space-between;
}
.flex-alignit-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-col-rev {
  flex-direction: column-reverse;
}

.padding {
  padding-left: 80px;
  padding-right: 80px;
}

.loading {
  width: 100%;
}
.theme--dark .loading {
  color: hsl(0, 0%, 100%);
}
.theme--light .loading {
  color: hsl(200, 15%, 8%);
}

.material-symbols-outlined-dark {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

@media screen and (max-width: 639px) {
  .padding {
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
}
:root {
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(0, 0%, 98%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
  }
}

.home {
  font-size: 14px;
  min-height: 100vh;
}
.theme--dark .home {
  background-color: hsl(207, 26%, 17%);
}
.theme--light .home {
  background-color: hsl(0, 0%, 98%);
}
.home-options {
  padding-top: 45px;
  padding-bottom: 45px;
}
.home-search {
  height: 50px;
  min-width: 340px;
  width: 455px;
  padding-left: 50px;
  margin-left: -14px;
  border: none;
  border-radius: 5px;
}
.theme--dark .home-search {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.theme--light .home-search {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.home-search-svg {
  position: relative;
  left: 20px;
}
.theme--dark .home-search-svg {
  fill: hsl(0, 0%, 100%);
}
.theme--light .home-search-svg {
  fill: hsl(200, 15%, 8%);
}
.home-search:focus {
  outline: none;
}
.home-search::-moz-placeholder {
  opacity: 1;
}
.home-search::placeholder {
  opacity: 1;
}
.home select {
  height: 50px;
  width: 190px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 5px;
}
.theme--dark .home select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.theme--light .home select {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.home select option {
  border-radius: 5px;
}
.theme--dark .home select option {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.theme--light .home select option {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.country {
  flex-wrap: wrap;
  margin-right: -70px;
}
.country-block {
  display: block;
  height: 320px;
  width: 250px;
  margin-right: 70px;
  margin-bottom: 70px;
  text-decoration: none;
  border-radius: 5px;
}
.theme--dark .country-block {
  background-color: hsl(209, 23%, 22%);
}
.theme--light .country-block {
  background-color: hsl(0, 0%, 100%);
}
.country-text {
  padding: 25px;
}
.country-text-title {
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 10px;
}
.country-text-description {
  font-size: 0.8rem;
}
.country-text-description span {
  font-weight: 600;
}
.country-text-description p {
  padding-bottom: 5px;
}
.country-text-description p:last-child {
  padding-bottom: 0;
}
.theme--dark .country-text {
  color: hsl(0, 0%, 100%);
}
.theme--light .country-text {
  color: hsl(200, 15%, 8%);
}
.country-image {
  height: 150px;
  width: 250px;
  border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 609px) {
  .country {
    justify-content: center;
  }
  .country-block {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 809px) {
  .mobile {
    flex-direction: column;
  }
  .mobile-search {
    margin-bottom: 40px;
  }
}
.detail {
  font-size: 16px;
  min-height: 100vh;
}
.theme--dark .detail {
  background-color: hsl(207, 26%, 17%);
}
.theme--light .detail {
  background-color: hsl(0, 0%, 98%);
}
.detail-image {
  height: auto;
  width: 530px;
}
.detail-padding {
  padding-top: 75px;
}
.detail-back {
  height: 40px;
  width: 130px;
  text-decoration: none;
  margin-bottom: 75px;
  align-items: center;
}
.theme--dark .detail-back {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
}
.theme--light .detail-back {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
}
.detail-back span {
  padding-right: 4px;
}
.theme--dark .detail-text {
  color: hsl(0, 0%, 100%);
}
.theme--light .detail-text {
  color: hsl(200, 15%, 8%);
}
.detail-text-first {
  padding-right: 5vw;
}
.detail-text-title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 30px;
}
.detail-text-category {
  font-size: 14px;
  padding-bottom: 15px;
}
.detail-text-category span {
  font-weight: 600;
}
.detail-border-text {
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .breakpoint {
    flex-direction: column;
  }
  .detail-text {
    padding-left: 5vw;
  }
  .detail-text-first {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 809px) {
  .detail-mobile {
    flex-direction: column;
    align-items: start;
  }
  .detail-padding {
    padding-top: 40px;
  }
  .detail-back {
    margin-bottom: 60px;
  }
  .detail-image {
    height: 30vh;
    width: auto !important;
    margin-bottom: 40px;
  }
  .detail-image-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .detail-text {
    padding-left: 0;
  }
  .detail-text-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 640px) and (max-width: 809px) {
  .detail-image {
    width: calc(100vw - 160px);
  }
}
@media screen and (max-width: 639px) {
  .detail-image {
    width: calc(100vw - 35px);
  }
}
.header header {
  height: 80px;
  width: 100vw;
}
.theme--dark .header header {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.theme--light .header header {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.header header button {
  border: none;
  background-color: transparent;
  font-size: 1em;
}
.theme--dark .header header button {
  color: hsl(0, 0%, 100%);
}
.theme--light .header header button {
  color: hsl(200, 15%, 8%);
}
.header header button span {
  padding-right: 4px;
}
.header-logo {
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}
.theme--dark .header-logo {
  color: hsl(0, 0%, 100%);
}
.theme--light .header-logo {
  color: hsl(200, 15%, 8%);
}

@media screen and (max-width: 639px) {
  .header header {
    height: 80px;
    width: 100vw;
  }
  .header-logo {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */